=form_tag add_comment_product_path(@product) do
  = text_field_tag 'comment[title]', nil, placeholder: "Type something…", class: "comment-input", required: true
  = submit_tag t("views.leave_comment"), class: "btn right"