.hero-unit
  %h1
    蚂蚁共和
  -#%p= link_to "Learn more", nil, :class => "btn btn-primary btn-large",:style => "color:white"
  
.row-fluid
  - @categorys.each do |category|
    - if category.products.count > 0
      %h3.category
        = link_to t("category.#{category.name}"), explorer_path(category)
      %ul.thumbnails
        - category.published_products[0..2].each do |product|
          %li.product-box.span4
            = render partial: '/share/product', object: product

  = will_paginate @products