// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #D5D2CD, 0 1px 2px 1px #DFDDD9;
    margin: 20px 0;
    padding:20px;
}


h1.comments{
  color:#1e90ff;
  margin-top:20px;
}

input.comment-input{
  width:480px;
}

.comment {
    border-bottom: 1px solid #ECEBEA;
    clear: both;
    padding-bottom: 10px;
}

.comment-user{
  color:#1e90ff;
}

.comment-title{
  color:#666;
  margin-top:20px;

}

.comment-action{
  size:9px;

}

.comment-action:after {
    clear: both;
    content: "";
    display: table;
}