%p.fields
  - if f.object.nil? || f.object.new_record?
    = f.input :modelfile, as: :file, label: "filename"
  - else
    = f.label :modelfile
    = f.link_to_remove t("views.remove"), class: "btn btn-warning"
