%p.fields
  - if f.object.nil? || f.object.new_record?
    = f.input :photo, as: :file, pattern: "(.*)+\.(jpg|png|gif|JPG|PNG|GIF)$"
  - else
    = image_tag f.object.photo.thumb.url
    = f.link_to_remove t("views.remove"), class: "btn btn-warning"
